<footer class="footer">
  <small>
   <a href="#">nBilling[Next Generation of Billing]</a>
    by <a href="http://nksoft.com">nksoft</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://edgecomdigital.com/kitcarson/new-service-information/", target="_blank"> About </a></li>
      <li><a href="http://edgecomdigital.com/kitcarson/contact-us/", target="_blank"> About </a></li>
      <li><a href="http://edgecomdigital.com/kitcarson/media-release/", target="_blank"> News </a></li>
    </ul>
  </nav>
</footer>
